# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Uu]nity[Gg]enerated/
[Ll]ibrary/
[Bb]uilds/
[Aa]ssets/[Aa]sset[Ss]tore[Tt]ools*
[Aa]ssets/[Pp]lugins/[Kk]ii[Cc]onfig.txt*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
